<header>
    <nav>
      <ul>
        <li><a href="#accueil">Accueil </a></li>
        <li><a href="#salles">Nos Salles</a></li>
        <li><a href="#reservation">Réserver</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="/login">Connexion</a></li>
      </ul>
    </nav>
</header>