<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="js/formulaire.js" defer></script>

    <link rel="stylesheet" href="/css/login.css">

    <link rel="stylesheet" href="/css/forme.css">

    <link rel="stylesheet" href="/css/responsive/forme.css">

</head>

<body>
    <script src="" async defer></script>

    <% if (typeof permission !=='undefined' && permission==1) { %>
        <%- include('partials/header', {navig: "admin" }); %>
    <% }else if(typeof permission !=='undefined' && permission==0){%>
        <%- include('partials/header', {navig: "normal" }); %>
    <% }else{ %>
        <%- include('partials/header'); %>
    <% } %>

    <section>
        <!-- id formulaire a garder + name des inputs du form -->
        <div id="div_Formu">
            <form id="loginForm">
                <input type="text" name="email" id="email_input" placeholder="E-mail">
                <input type="password" name="password" id="password_input" placeholder="Mot de passe">
                <p id="montrer_erreur"></p>
                <p>Tu n'as pas de compte ? <a href="/register">S'inscrire</a></p>
                <button id="butt">
                    Se connecter 
                    <div id="spinner" class="spinner" style="display:none;"></div>
                </button>
            </form>
        </div>
    </section>


    <%- include('partials/footer'); %>
</body>

</html>