<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Escape Game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/css/forme.css">
    <link rel="stylesheet" href="/css/mission.css">
    <link rel="stylesheet" href="/css/responsive/forme.css">

    <script src="/js/mission.js" defer></script>
</head>

<body>
    <% if (typeof permission !=='undefined' && permission==1) { %>
        <%- include('partials/header', {navig: "admin" }); %>
    <% }else if(typeof permission !=='undefined' && permission==0){%>
        <%- include('partials/header', {navig: "normal" }); %>
    <% }else{ %>
        <%- include('partials/header'); %>
    <% } %>


    <section id="mission-section">
        <h2>Démarrer une mission</h2>
      
        <label for="missionSelect">Choisissez une mission :</label>
        <select id="missionSelect">
          <option disabled selected>Chargement des missions...</option>
        </select>
      
        <button id="startMissionBtn">Démarrer la mission</button>
        
        <p style="margin-top: 40px; margin-bottom: 20px;">Mission connecté : </p>
        <div id="missions-container"></div>
    </section>
           

    <%- include('partials/footer'); %>
</body>

</html>