<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Escape Game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/salle.css">

    <link rel="stylesheet" href="/css/forme.css">

    <link rel="stylesheet" href="/css/responsive/forme.css">
</head>

<body>

    <% if (typeof permission !=='undefined' && permission==1) { %>
        <%- include('partials/header', {navig: "admin" }); %>
    <% }else if(typeof permission !=='undefined' && permission==0){%>
        <%- include('partials/header', {navig: "normal" }); %>
    <% }else{ %>
        <%- include('partials/header'); %>
    <% } %>

    <section>
        


        <h1>Notre Salle</h1>
    
    
    </section>
    
    <%- include('partials/footer'); %>
</body>

</html>