<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Escape Game</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <script src="/js/scoreboard.js"></script>

    <link rel="stylesheet" href="css/scoreboard.css">

    <link rel="stylesheet" href="css/partials/forme.css">
    <link rel="stylesheet" href="css/partials/header.css">
    <link rel="stylesheet" href="css/partials/footer.css">
</head>

<body>

    <% if (typeof permission !=='undefined' && permission==1) { %>
        <%- include('partials/header', {navig: "admin" }); %>
    <% }else if(typeof permission !=='undefined' && permission==0){%>
        <%- include('partials/header', {navig: "normal" }); %>
    <% }else{ %>
        <%- include('partials/header'); %>
    <% } %>

    <section>
        <h1>Tableau des scores</h1>

        <div id="div_scoreboard">
            <table id="scoreboard">
                <thead>
                    <tr>
                        <th>Classement</th>
                        <th>Nom du Scénario</th>
                        <th>Nom de l'Équipe</th>
                        <th>Durée</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        
    </section>
    
    <%- include('partials/footer'); %>
</body>

</html>