* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {

    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #444;
    color: #fff;

    display: flex;
    flex-direction: column;
}

section {
    flex: 1;
    text-align: center;
}

#panneaux{
    display: flex;
    gap: 70px;
    justify-content: center; 
    margin-top: 80px;
    margin-bottom: 80px;
}

#titre_admin{
    margin-top: 30px;
    font-size: 37px;
}

.pannel {
    display: flex;
    flex-direction: column;    
    width: auto;
    height: auto;
    padding: 15px;
    border: solid white;
    border-radius: 25px;

    margin-top: auto !important;
    margin-bottom: auto !important;
}

#inside_admin_panel, #inside_gestion_partie{
    margin-top: 25px;
    padding: 10px;

    border: solid wheat;
    border-radius: 15px;
    height: auto;
    
}

#inside_admin_pannel{
    display: flex;
    flex-direction: column; /* Empile les éléments */
    justify-content: center; /* Centre verticalement */
    align-items: center;
    height: fit-content;
}

#inside_admin_panel h3{
    padding: 15px;
}

td, th{
    padding-left: 7px;
    padding-right: 7px;

    border-left: 2px solid white; /* Bordure à gauche */
    border-right: 2px solid white;
}

th{
    border-bottom: 2px dashed white;
}

#liste_partie th {
    padding-bottom: 8px;
}

#inside_admin_panel > div {
    text-align: center; /* Centre le texte à l'intérieur */
    width: 100%;
}

#inside_admin_panel table {
    margin: auto;

}

#admin_pannel{
    display: flex;
    flex-direction: column; /* Empile les éléments */
    align-items: center; /* Centre horizontalement */
    justify-content: center;
}


.listes_table {

    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center;
}

#inside_gestion_partie h3{
    padding: 15px;
}

#para_Etat_derniere_partie{
    display: flex;
    flex-direction: column;  
    gap: 5px;  
}

ul{
    list-style: none;
}

#para_Etat_partie_active{
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}
