<header>
    <nav>
      <ul>
        <li><a href="/index">Accueil </a></li>
        <li><a href="/salle">Notre Salle</a></li>
        <li><a href="/reservation">Réserver</a></li>
        <li><a href="/contact">Contact</a></li>

        <% if (typeof navig !== 'undefined' && navig == 'admin') { %>
          <li><a href="/admin">Admin</a></li>
        <% }else if(typeof navig !== 'undefined' && navig == 'normal'){%>
          <li><a href="/gestionCompte">Profil</a></li>
        <% }else{ %>
          <li><a href="/login">Connexion</a></li>
        <%}%>
      </ul>
    </nav>
</header>