<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Escape Game</title>
    <link rel="stylesheet" href="/css/erreur.css">

    <link rel="stylesheet" href="/css/partials/forme.css">
    <link rel="stylesheet" href="/css/partials/header.css">
    <link rel="stylesheet" href="/css/partials/footer.css">
</head>
<body> 

  <% if (typeof permission !== 'undefined' && permission == 1) { %>
    <%- include('../partials/header', {navig: "admin"}); %>
  <% }else{ %>
    <%- include('../partials/header'); %>
  <% } %>

  <section>

    <div id="Erreur">
      <h1>Erreur 403: Accès refusé</h1>
    </div>

  </section>


  <%- include('../partials/footer'); %>

</body>
</html>
